body{
  background-color: rgb(177, 106, 106);
}
header{
  background-color: black;
  padding:10px;
}
#bg{
  /* background-image: url("/image/photo-1587731556938-38755b4803a6.jfif");
  background-size: cover;
  background-attachment: fixed; */
  background:
  /* top, transparent red, faked with gradient */ linear-gradient(
    rgba(221, 201, 201, 0.45),
    rgba(0, 0, 0, 0.45)
  ),
  /* bottom, image */ url("/image/photo-1587731556938-38755b4803a6.jfif");
    background-size: cover;
    background-attachment: fixed;
}